.odd {
    background-color: rgba(227, 88, 88, 0.947);
    font-family: Verdana, "DejaVu Sans", sans-serif;
}

.adjust-font-size {
    font-size: 24px;
}

#two {
    color: #0000ff;
    font-size: 36px;
}

#four {
    background-color: hsl(120, 78%, 63%);
    font-weight: bold;
}

.inverted, .fancy {
    font-size: 28px;
    font-family: Helvetica, 'Times New Roman', sans-serif;
}

.inverted {
    background-color: black;
    color: white;
}

.fancy {
    background-color: yellow;
}

.avatar.proportioned {
    height: auto;
    width: 300px;
}

.avatar.distorted {
    height: 400px;
    width: 200px;
}

div p {
    background-color: yellow;
    color: red;
    font-size: 20px;
    text-align: center;
}